@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body {
    font-family: 'Staatliches', cursive;
}


/*######################################## Navbar ########################################*/


/*######################################## Header ########################################*/


/*Imagen Principal-Inicio*/

.carousel-indicators button {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 17px!important;
    height: 17px!important;
}

.carousel-inner img {
    height: 450px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}


/*Imagen Principal-About*/


/*Imagen Principal-Post*/


/*Imagen Principal-Contact*/


/*################################# Cards #################################*/


/*######################################## Footer ########################################*/